* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center
}
nav ul{
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

header, footer {
  background-color: lightblue;
}

  
